In [13]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from collections import OrderedDict
import colorlover as cl
from IPython.display import HTML

In [2]:
WA = lambda x: np.average(x, axis=0, weights=df.loc[x.index, 'reportingPeriodActualEndBalanceAmount'])
def calculate_metrics(data):
    data['pctDeal'] = (data['reportingPeriodActualEndBalanceAmount'] / (data['reportingPeriodActualEndBalanceAmount'].sum()))
    data['LTV'] = (data['originalLoanAmount'] / data['vehicleValueAmount'])*100
    return data

In [3]:
a = OrderedDict([
    #('assetNumber',['count']),
    ('reportingPeriodActualEndBalanceAmount', ['mean']),
    ('pctDeal', ['sum']),
    #('originalLoanTerm',[WA]),
    #('remainingTermToMaturityNumber',[WA]),
    ('paymentToIncomePercentage',[WA]),
    #('LTV',[WA]),
    ('originalInterestRatePercentage',[WA]),
    #('currentDelinquencyStatus',['mean'])
    ])
colsKeyList = list(a.keys())

In [4]:
example = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')
print(len(example.index))
example.head()

50

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [5]:
#here in case we need to map state names to state codes
state_dict = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv',
                         usecols=['code','state'])
state_dict = state_dict.set_index('code')
state_dict = state_dict.to_dict()

In [6]:
D_2017_1_01 = 'https://raw.githubusercontent.com/Amcdonne95/SeniorDesignData/master/Drive%20Auto%20Receivables%20Trust/DRIVE%202017-1/2017/05%20May/2017.06.15_Drive%20Auto%20Receivables%20Trust%202017-1%20Data%20Tape.csv'

In [7]:
df = pd.read_csv(D_2017_1_01, memory_map=True, low_memory=False)
df = calculate_metrics(df)

In [8]:
df.head()

,assetTypeNumber,assetNumber,reportingPeriodBeginningDate,reportingPeriodEndingDate,originatorName,originationDate,originalLoanAmount,originalLoanTerm,loanMaturityDate,originalInterestRatePercentage,...,repurchaserName,repurchaseReplacementReasonCode,chargedoffPrincipalAmount,recoveredAmount,modificationTypeCode,paymentExtendedNumber,repossessedIndicator,repossessedProceedsAmount,pctDeal,LTV
0,SC,"=""6345520""",05-01-2017,05-31-2017,SC,10/2013,28203.21,72,11/2019,0.1932,...,-,-,0.0,0.0,-,0,False,-,0.000012,122.044268
1,SC,"=""6345701""",05-01-2017,05-31-2017,SC,11/2013,13786.00,72,05/2020,0.2499,...,-,-,0.0,0.0,-,0,False,-,0.000009,114.902484
2,SC,"=""6345822""",05-01-2017,05-31-2017,SC,11/2013,12515.00,60,08/2019,0.2100,...,-,-,0.0,0.0,-,0,False,-,0.000007,104.309052
3,SC,"=""6346124""",05-01-2017,05-31-2017,SC,10/2013,16699.00,60,11/2018,0.2100,...,-,-,0.0,0.0,-,0,False,-,0.000006,109.681445
4,SC,"=""1006458""",05-01-2017,05-31-2017,SC,05/2012,21404.16,72,08/2018,0.2499,...,-,-,0.0,0.0,-,0,True,0.00,0.000008,118.925214

In [9]:
stratTable = df[colsKeyList].groupby(by=[df['obligorGeographicLocation']]).agg(a)
stratTable = stratTable.reset_index()
stratTable.columns = ['stateCode','averageBalance', 'percentDeal', 'waPTI', 'waAPR']
stratTable['percentDeal'] = stratTable['percentDeal']*100
stratTable['waPTI'] = stratTable['waPTI']*100
stratTable['waAPR'] = stratTable['waAPR']*100
stratTable = stratTable.round(2)

In [10]:
#strat Table is multi-indexed columns
stratTable

   stateCode  averageBalance  percentDeal  waPTI  waAPR
0         AK        20328.95         0.12  12.35  19.59
1         AL        17072.44         3.01  12.04  20.59
2         AR        17036.03         1.89  11.90  18.55
3         AZ        16828.00         1.66  11.39  20.13
4         CA        17457.18         7.25  10.90  19.60
5         CO        17753.00         1.01  10.81  18.54
6         CT        16449.32         0.70  10.08  16.63
7         DC        15638.31         0.04  10.31  20.55
8         FL        16995.56        11.11  10.98  18.30
9         GA        17825.94         7.50  11.91  20.45
10        HI        16355.57         0.30  11.36  20.29
11        IA        15829.41         0.48  11.11  19.42
12        ID        16951.97         0.16  11.66  19.76
13        IL        16437.82         3.72  11.12  20.32
14        IN        16286.74         1.62  11.17  19.82
15        KS        16020.09         0.52  11.13  19.42
16        KY        15783.93         1.67  11.30  19.35
17        LA        17586.53         3.21  11.68  19.64
18        ME        16489.23         0.14  10.87  16.99
19        MI        16378.87         1.74  10.91  19.14
20        MN        17037.27         0.63  10.58  17.89
21        MO        15641.12         2.18  11.62  20.35
22        MS        17162.93         2.20  11.92  19.79
23        MT        16947.28         0.37  11.99  19.62
24        NC        17087.72         4.10  11.66  18.46
25        ND        17256.19         0.18  10.90  19.41
26        NE        15776.45         0.40  11.13  17.71
27        NH        14793.96         0.31  11.53  20.15
28        NJ        16913.40         2.35  10.14  18.89
29        NM        17037.34         0.91  11.70  20.07
30        NV        17406.65         1.13  11.34  19.96
31        NY        18479.01         4.26  10.75  18.99
32        OH        15405.76         2.77  11.27  19.56
33        OK        16986.08         2.50  11.32  19.33
34        OR        17429.93         0.67  11.00  19.43
35        RI        15198.87         0.18  10.60  17.20
36        SC        16827.54         3.64  11.94  20.49
37        SD        14918.39         0.19  11.27  21.48
38        TN        16912.69         2.56  11.92  19.94
39        TX        18177.21        15.70  11.21  18.39
40        UT        17624.43         0.35  10.51  18.22
41        VA        16454.76         1.91  11.40  20.23
42        VT        16693.83         0.12  11.07  18.22
43        WA        17250.67         0.57  10.69  19.00
44        WI        16175.22         1.12  11.45  19.50
45        WV        16093.86         0.68  11.12  19.35
46        WY        18740.33         0.17  11.43  18.19

In [11]:
#columns to string is an issue rn
for col in stratTable.columns:
    stratTable[col] = stratTable[col].astype(str)

In [19]:
#scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],
       #[0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

color = cl.scales['9']['seq']['OrRd']

stratTable['text'] = stratTable['stateCode'] + '<br>' + 'WA APR ' + stratTable['waAPR'] 

data = [ dict(
        type='choropleth',
        colorscale = color, 
        autocolorscale = False,
        locations = stratTable['stateCode'],
        z = stratTable['percentDeal'],#.astype(float),
        locationmode = 'USA-states',
        text = stratTable['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Loan Concentration")
        ) ]
layout = dict(
        title = 'Auto Loans<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='AutoLoanMap' )

In [15]:
color = cl.scales['9']['seq']['OrRd']
color

['rgb(255,247,236)',
 'rgb(254,232,200)',
 'rgb(253,212,158)',
 'rgb(253,187,132)',
 'rgb(252,141,89)',
 'rgb(239,101,72)',
 'rgb(215,48,31)',
 'rgb(179,0,0)',
 'rgb(127,0,0)']

In [16]:
HTML( cl.to_html(color) )

In [ ]:
def map_feature(data, stratDict):
    data = calculate_metrics(data)
    keyLis = list(stratDict.keys())
    #group all of the data by each state
    stratTable = data[keyLis].groupby(by=[data['obligorGeographicLocation']]).agg(stratDict).reset_index()
    stratTable.columns = ['stateCode','averageBalance', 'percentDeal', 'waPTI', 'waAPR']
    #Manipulate the view of the significant figures
    stratTable['percentDeal'] = stratTable['percentDeal']*100
    stratTable['waPTI'] = stratTable['waPTI']*100
    stratTable['waAPR'] = stratTable['waAPR']*100
    stratTable = stratTable.round(2)
    #make the whole DF strings for ease of view in the plotly map
    for col in stratTable.columns:
        stratTable[col] = stratTable[col].astype(str)
    
    return stratTable